* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  border: 2px solid red;
  height: 100vh;
}

/* Test for navbar (remove when navbar set) */
.shop-image-container {
  display: flex;
  flex-direction: column;
}
