.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px 200px;
}

.aboutDescription {
  display: flex;
  align-items: center;
}

.aboutText {
  width: 700px;
}

h2 {
  font-size: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid var(--light-purple);
}

p {
  text-align: right;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .about {
    width: fit-content;
    margin: 0 30px;
    text-align: center;
  }

  .aboutDescription {
    flex-direction: column;
  }

  .aboutText {
    width: fit-content;
  }

  p {
    text-align: center;
    padding-bottom: 10px;
  }
}
