.navbar {
  background-color: var(--light-grey);
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsList {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a {
  margin: 0 60px;
  font-size: 30px;
  color: var(--off-white);
}

.burgerMenuBtn {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .burgerMenuBtn {
    width: auto;
    text-align: right;
    display: block;
  }

  .icons ul {
    display: none;
  }

  .icons.open .iconsList {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--light-grey);
    border-bottom-left-radius: 20px;
    z-index: 1000;
  }

  .icons.open {
    display: flex;
  }
}
