.shop-container {
  height: 100vh;
}

.shop-grid-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-image-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 25px 50px;
}

.shopCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopCard img {
  width: 50%;
  margin: 5px 0;
  outline: 2px solid black;
}

.shop-price-btn {
  border: 2px solid var(--dark-purple);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 3px 25px;
}

@media (max-width: 1000px) {
  .shop-container {
    height: auto;
  }
  .shop-grid-container {
    height: auto;
  }

  .shop-image-container {
    display: flex;
    flex-direction: column;
  }
}
